VITE_ARMARIO_GLB_URL=
VITE_ARMARIO_IMG_URL=

VITE_ARMARIO_GRANDE_GLB_URL=
VITE_ARMARIO_GRANDE_IMG_URL=

VITE_BALCAO_GLB_URL=
VITE_BALCAO_IMG_URL=

VITE_BALCAO_GRANDE_GLB_URL=
VITE_BALCAO_GRANDE_IMG_URL=

VITE_PANELEIRO_GLB_URL=
VITE_PANELEIRO_IMG_URL=
